---
import { hash, hexStringToDecimalDigit } from '../utils/string';

type Props = {
  name: string;
}

type XmasImage = {src: string, alt: string}

const images: {[key: number]: XmasImage} = {
  0: {src: "/assets/bauble.png", alt: "Bauble"},
  1: {src: "/assets/christmas-pudding.png", alt: "Christmas Pudding"},
  2: {src: "/assets/holly.png", alt: "Sprig of Holly"},
  3: {src: "/assets/present.png", alt: "Christmas Present"},
  4: {src: "/assets/santa-hat.png", alt: "Santa Hat"},
  5: {src: "/assets/sleigh.png", alt: "Sleigh"},
  6: {src: "/assets/snowflake.png", alt: "Snowflake"},
  7: {src: "/assets/snowman.png", alt: "Snowman"},
  8: {src: "/assets/stocking.png", alt: "Christmas Stocking"},
  9: {src: "/assets/tree.png", alt: "Christmas Tree"},
}

const {name} = Astro.props;

const image: XmasImage | null = name == "" ? null : images[hexStringToDecimalDigit(await hash(name))];
---
<div>
<main>

  {image ? <img src={image.src} alt={image.alt} /> : <span />}
  <section>
    {name == "" ? <><p>Error 404</p><p>Christmas Card</p><p>Not Found</p></> :
    <>
      <p>Merry Christmas</p>
      <p>{name}!</p>
      <p>From Stephen</p>
    </>
    }
  </section>
  {image ? <img src={image.src} alt={image.alt} /> : <span />}
</main>
</div>

<style lang="scss">
  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }

  div {
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    place-content: center;
  }
  main {
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    justify-items: center;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 800px) {
      align-items: center;
      grid-template-columns: 1fr min-content;
    }
    @media only screen and (min-width: 1200px) {
      align-items: center;
      grid-template-columns: min-content 1fr min-content;
    }
  }
  img {
    width: 200px;
    height: 200px;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-fill-mode: both;

    &:first-child {
      display: none;
      @media only screen and (min-width: 1200px) {
        display: inline;
      }
    }
  }
  section {
    margin-inline: auto;
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: both;
    @media only screen and (min-width: 800px) {
      font-size: 3rem
    }
  }
  p {
    margin-block: 0;
    text-align: center;
  }
</style>
